
[Desktop Entry]
Name=Codex
X-KDE-PluginInfo-Name=Codex
X-KDE-PluginInfo-Author=CodexEgypt
X-KDE-PluginInfo-Email=contact@codexeg.net
X-KDE-PluginInfo-License=CC BY-NC-SA 3.0
